@page "/"

<PageTitle>Home</PageTitle>
@*BODY*@
<body style="background-color: #f5e1ce">

	<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="3000">
				<img src="/images/Home/FotoGymSlider.jpeg" class="d-block w-100" alt="..."
					 style="height: calc(100vh - 100px); width: 100%; object-fit: cover;">
				<div class="carousel-caption d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
					<h1 class="display-4">¡Entrena con nosotros!</h1>
					<p class="lead">Aprovecha la oportunidad.</p>
					<a href="/Account/Register" class="btn custom-button btn-lg">¡Comienza Ahora!</a>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="3000">
				<img src="/images/Home/FotoGymSlider2.jpeg" class="d-block w-100" alt="..."
					 style="height: calc(100vh - 100px); width: 100%; object-fit: cover;">
				<div class="carousel-caption d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
					<h1 class="display-4">¡Entrena con nosotros!</h1>
					<p class="lead">Aprovecha la oportunidad.</p>
					<a href="/Account/Register" class="btn custom-button btn-lg">¡Comienza Ahora!</a>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="3000">
				<img src="/images/Home/FotoGymSlider3.jpg" class="d-block w-100" alt="..."
					 style="height: calc(100vh - 100px); width: 100%; object-fit: cover;">
				<div class="carousel-caption d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
					<h1 class="display-4">¡Entrena con nosotros!</h1>
					<p class="lead">Aprovecha la oportunidad.</p>
					<a href="/Account/Register" class="btn custom-button btn-lg">¡Comienza Ahora!</a>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<br />

	<div class="container gym-class mb-5">
		<div class="row px-3">
			<div class="col-md-6 p-0">
				<div class="gym-class-box d-flex flex-column align-items-end justify-content-center text-right text-white py-5 px-5" style="background-color: #ed5592">
					<i class="flaticon-six-pack"></i>
					<h3 class="display-4 mb-3 text-white font-weight-bold">Body Building</h3>
					<p>
						El levantamiento de pesas no solo mejora la fuerza muscular, sino que también acelera
						el metabolismo, refuerza los huesos, mejora la postura, aumenta la resistencia y
						reduce el riesgo de lesiones. Además, ayuda a combatir el estrés.
					</p>
					<a href="/Account/register" class="btn btn-lg custom-button mt-4 px-4">Unirse</a>
				</div>
			</div>
			<div class="col-md-6 p-0">
				<div class="gym-class-box d-flex flex-column align-items-start justify-content-center text-left text-white py-5 px-5" style="background-color: #ab416b">
					<i class="flaticon-bodybuilding"></i>
					<h3 class="display-4 mb-3 text-white font-weight-bold">Construir Músculo</h3>
					<p>

						Mejorar la figura no solo aumenta la confianza y la autoestima, sino que también
						refleja un cuerpo saludable. Mantener un buen tono muscular y reducir la grasa
						corporal favorecen la movilidad, la postura y la energía diaria, promoviendo
						un estilo de vida equilibrado y positivo.
					</p>
					<a href="/Account/register" class="btn btn-lg custom-button mt-4 px-4">Unirse</a>
				</div>
			</div>
		</div>
	</div>

	<br />
	<div>
		<div class="text-center">
			<h1><b>Nuestro Planes</b></h1>
			<p>Contamos con los mejores planes del mercado</p>
		</div>


		<div class="membership-cards">
			<!-- Tarjeta 1 -->
			<div class="membership-card">
				<h3 class="membership-title">Membres&iacute;a Estudiante</h3>
				<p class="membership-description estudiante">Accede a todos los servicios básicos del gimnasio. Ideal para quienes buscan lo esencial.</p>
				<a href="/Account/Register" class="membership-button">
					<i class="bi bi-tags-fill" style="margin-right: 8px;"></i>Inscríbete
				</a>
			</div>

			<!-- Tarjeta 2 -->
			<div class="membership-card">
				<h3 class="membership-title">Membres&iacute;a B&aacute;sica</h3>
				<p class="membership-description basica">Disfruta de servicios exclusivos y mayor flexibilidad. Perfecta para quienes buscan más beneficios.</p>
				<a href="/Account/Register" class="membership-button">
					<i class="bi bi-tags-fill" style="margin-right: 8px;"></i>Inscríbete
				</a>
			</div>

			<!-- Tarjeta 3 -->
			<div class="membership-card">
				<h3 class="membership-title">Membres&iacute;a VIP</h3>
				<p class="membership-description vip">Acceso total a todos los servicios y eventos especiales. La mejor opción para clientes exclusivos.</p>
				<a href="/Account/Register" class="membership-button">
					<i class="bi bi-tags-fill" style="margin-right: 8px;"></i>Inscríbete
				</a>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-lg-4 p-0">
			<div class="d-flex align-items-center text-white px-5 card-feature position-relative" style="background-color: #ca678e">
				<img src="/images/Home/progresion.png" class="feature-img" alt="Progresión">
				<div>
					<h2 class="text-white mb-3">Progresión</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci velit id libero.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 p-0">
			<div class="d-flex align-items-center text-white px-5 card-feature position-relative" style="background-color: #c74e7d">
				<img src="/images/Home/entrenamiento.png" class="feature-img" alt="Entrenamiento">
				<div>
					<h2 class="text-white mb-3">Entrenamiento</h2>
					<p>
						Tenemos las mejores máquinas para tu disposición para que puedas darlo todo.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 p-0">
			<div class="d-flex align-items-center text-white px-5 card-feature position-relative" style="background-color: #ca678e">
				<img src="/images/Home/nutricion.png" class="feature-img" alt="Nutrición">
				<div>
					<h2 class="text-white mb-3">Nutrición</h2>
					<p>
						Contamos con los mejores planes de nutrición adaptables a cualquier persona.
					</p>
				</div>
			</div>
		</div>
	</div>


	<br />
	<br />
	<br />
	<div class="container-fluid bg-light-purple py-5 rounded-container">
		<div class="container feature pt-5 text-white">
			<div class="d-flex flex-column text-center mb-5">
				<h4 class="text font-weight-bold">¿Por qu&eacute; debes escogernos?</h4>
				<h4 class="display-4 font-weight-bold">Beneficios de unirte a FitForge</h4>
			</div>
			<div class="row">

				<div class="col-md-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="/images/Home/aprender-en-linea.png" />
						</div>
						<div class="col-sm-7">
							<div class="bg-gradient text-white p-4 rounded">
								<h4 class="font-weight-bold">Clases Grabadas</h4>
								<p>Puedes seguir tu entrenamiento en casa con nosotros siguiendo nuestras clases grabadas.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="/images/Home/calendario.png" />
						</div>
						<div class="col-sm-7">
							<div class="bg-gradient text-white p-4 rounded">
								<h4 class="font-weight-bold">Itinerarios de Clases</h4>
								<p>Contamos con una variedad de clases con los mejores entrenadores que hay en el mercado.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="/images/Home/wifi.png" />
						</div>
						<div class="col-sm-7">
							<div class="bg-gradient text-white p-4 rounded">
								<h4 class="font-weight-bold">Wi-Fi Gratis</h4>
								<p>Te proveemos un wi-fi de 100mbps totalmente gratis como parte de cualquier membresía que escojas.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="/images/Home/abrazo.png" alt="Image">
						</div>
						<div class="col-sm-7">
							<div class="bg-gradient text-white p-4 rounded">
								<h4 class="font-weight-bold">Apoyo de nuestra Comunidad</h4>
								<p>Nuestra comunidad de FitForge es un espacio motivador donde las personas comparten metas similares, se apoyan mutuamente y celebran logros.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<br />
</body>

@*FOOTER*@
<footer style="background-color: #96305a; padding: 20px; color: white;">
	<div class="row">
		<div class="col text-start">
			<p style="margin-bottom: 2px;">&copy; 2024 FitForge | Todos los derechos reservados</p>
			<p style="margin-bottom: 2px;">
				<a style="color: cornflowerblue;" href="/#">Política de privacidad</a> |
				<a style="color: cornflowerblue;" href="/#">Términos de uso</a>
			</p>
			<p style="margin-bottom: 2px;">
				<i class="bi bi-github"></i> :
				<a style="color: cornflowerblue;" href="https://github.com/Llowarquis/FitForge.git">Repositorio del proyecto</a>
			</p>
		</div>

		<div class="col text-end">
			<h3>Contactanos</h3>
			<p> <i class="bi bi-envelope-at-fill" style="font-size: 1.5em;"></i>: Yohualkis99@gmail.com | Frailyndes@gmail.com</p>
		</div>
	</div>
</footer>

<link href="/css/Home.css" rel="stylesheet" />

<style>
	.custom-button {
		background-color: #96305a;
		color: white;
	}

		.custom-button:hover {
			background-color: #ca678e;
			color: white;
		}

	.bg-light-purple {
		background-color: #ca678e; /* Color morado claro */
	}

	.rounded-container {
		border-top-left-radius: 15px; /* Borde redondeado suave en la esquina superior izquierda */
		border-top-right-radius: 15px; /* Borde redondeado suave en la esquina superior derecha */
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.card-feature {
		min-height: 300px;
		position: relative;
		overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
	}

	.feature-img {
		position: absolute;
		top: 50%; /* Centrado vertical */
		left: 50%; /* Centrado horizontal */
		transform: translate(-50%, -50%); /* Ajusta la posición al centro */
		z-index: 1; /* Coloca la imagen detrás del contenido */
		width: 150px; /* Ajusta el tamaño de la imagen */
		opacity: 0.1; /* Transparencia para no interferir con el texto */
		pointer-events: none; /* Evita que la imagen sea interactiva */
	}

	.card-feature i,
	.card-feature h2,
	.card-feature p {
		z-index: 2; /* Asegura que el contenido esté encima de la imagen */
		position: relative;
	}
</style>


