@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Datos personales</PageTitle>

<StatusMessage />
<h3>Datos personales</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta contiene datos personales que nos has prove&iacute;do. Esta pagina te permite descargar esos datos o borrar tu cuenta.</p>
        <p>
            <strong>Borrar esta informaci&oacute;n va a remover tu cuenta permanentemente y no hay forma de deshacerlo.</strong>
        </p>
        <div class="row">
            <div class="col">
                <form action="Account/Manage/DownloadPersonalData" method="post">
                    <AntiforgeryToken />
                    <button class="btn btn-primary bi bi-download" type="submit">   Descargar</button>
                </form>
            </div>
            
            <div class="col">
                <p>
                    <a href="Account/Manage/DeletePersonalData" class="btn btn-danger bi bi-trash">   Borrar</a>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
