@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<body style="background-color: #f5e1ce">
    <div class="container-fluids text-center" style="position: relative; width: 300px; height: 300px; margin: 0 auto;">
        <img src="/images/acceso-denegado/acceso-denegado.png" alt="Image"
             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; opacity: 0.2;">
        <div style="position: relative; z-index: 2;" class="text-danger">
            <h1>Acceso denegado</h1>
            <p>Lo sentimos, pero usted no tiene permisos para acceder a esta página.</p>
        </div>
    </div>
</body>