@implements IDisposable

@inject NavigationManager NavigationManager

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #ca678e !important;">
	<div class="container-fluid">
		<a class="navbar-brand">
			<img src="\images\fitforge-logo.png" height="65">
		</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				@*Btn home*@
				<li></li>
				<li class="nav-item px-1">
					<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
						<span aria-hidden="true">
							<img src="/images/icons/home.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
						</span> Inicio
					</NavLink>
				</li>

				@*Btn membresias*@
				<li class="nav-item px-1">
					<NavLink class="nav-link" href="weather">
						<span aria-hidden="true">
							<img src="/images/icons/membresia.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
						</span> Membres&iacute;as
					</NavLink>
				</li>

				@*Visa de CLIENTE*@
				<AuthorizeView Roles="Cliente">
					<Authorized>
						@*Btn Inscripciones*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="#">
								<span aria-hidden="true">
									<img src="/images/icons/inscripciones.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
								</span> Inscripciones
							</NavLink>
						</li>

						@*Btn clases*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="#">
								<span aria-hidden="true">
									<img src="/images/icons/clases-disponibles.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
								</span> Clases disponibles
							</NavLink>
						</li>
						@*Btn Mis Pagos*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="#">
								<span aria-hidden="true">
									<img src="/images/icons/pagos.png" alt="Icono" style="width: 25px; height: 25px; margin-right: 5px;">
								</span> Mis Pagos
							</NavLink>
						</li>
					</Authorized>
				</AuthorizeView>

				@*Vista de ADMIN*@
				<AuthorizeView Roles="Admin">
					<Authorized>
						@*Btn Clientes*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="/Clientes/Index">
								<span aria-hidden="true">
									<img src="/images/icons/usuario.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
								</span> Clientes
							</NavLink>
						</li>

						@*Btn Entrenadores*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="/Entrenadores/Index">
								<span aria-hidden="true">
									<img src="/images/icons/usuario.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
								</span> Entrenadores
							</NavLink>
						</li>

						@*Btn Clases*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="/Clases/Index">
								<span aria-hidden="true">
									<img src="/images/icons/usuario.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
								</span> Clases
							</NavLink>
						</li>

						@*Btn Membresias*@
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="/Membresias/Index">
								<span aria-hidden="true">
									<img src="/images/icons/usuario.png" alt="Icono" style="width: 20px; height: 20px; margin-right: 5px;">
								</span> Membresias
							</NavLink>
						</li>
					</Authorized>
				</AuthorizeView>
			</ul>
			<ul class="navbar-nav">
				@*VISTA AUTORIZADA*@
				<AuthorizeView>
					<Authorized>
						<li></li>
						<li class="nav-item px-1">
							<NavLink class="nav-link" href="Account/Manage">
								<span aria-hidden="true">
									<img src="/images/icons/mi-cuenta.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
								</span> Mi cuenta
							</NavLink>
						</li>
						<li class="nav-item px-1">
							<form action="Account/Logout" method="post">
								<AntiforgeryToken />
								<input type="hidden" name="ReturnUrl" value="@currentUrl" />
								<button type="submit" class="nav-link">
									<span aria-hidden="true">
										<img src="/images/icons/logout.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
									</span> Cerrar Sesi&oacute;n
								</button>
							</form>
						</li>
					</Authorized>
					<NotAuthorized>
						@*Btn register*@
						<li></li>
						<li class="nav-item px-3">
							<NavLink class="nav-link" href="Account/Register">
								<span aria-hidden="true">
									<img src="/images/icons/registrarse.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
								</span>  Registrarse
							</NavLink>
						</li>

						@*Btn login*@
						<li class="nav-item px-3">
							<NavLink class="nav-link" href="Account/Login">
								<span aria-hidden="true">
									<img src="/images/icons/mi-cuenta.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
								</span> Iniciar Sesi&oacute;n
							</NavLink>
						</li>
					</NotAuthorized>
				</AuthorizeView>
			</ul>
		</div>
	</div>
</nav>
<div style="width: 100%; height: 25px; background-color: #96305a; position: fixed; top: 86px; left: 0; z-index: 1030;">
	<div style="white-space: nowrap; position: absolute; animation: moveText 15s linear infinite; color: white;">
		🔥¡Forjando tu mejor forma!🏋️‍♂️ ------- 🏆¡No pain No gain!🥇 ------- 🏅¡Cada repetición cuenta!💪
	</div>
</div>

<link href="/css/NavMenu.css" rel="stylesheet" />
@code {
	private string? currentUrl;

	protected override void OnInitialized()
	{
		currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
		NavigationManager.LocationChanged += OnLocationChanged;
	}

	private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
	{
		currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
		StateHasChanged();
	}

	public void Dispose()
	{
		NavigationManager.LocationChanged -= OnLocationChanged;
	}
}

